/* These are the base colours for each part of my website! */
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }

:root {
  --hero-bg:    #FAF5ED;
  --hero-ink:   #1C130A;
  --hero-muted: #7A6A58;
  --saffron:    #D4601A;
  --saffron-lt: #F07A38;
  --dish-bg:    #100D08;
  --nav-pill-h: 52px;
  --nav-top:    1.5rem;
}

body {
  background: var(--hero-bg);
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  color: var(--hero-ink);
  overflow-x: hidden;
}


a { text-decoration: none; color: inherit; }
img { display: block; max-width: 100%; }

/* This is for the navigation bars, its similar to my prototype navbar */
.navbar {
  position: fixed;
  top: var(--nav-top);
  left: 50%;
  transform: translateX(-50%);
  width: 81%;
  z-index: 1000;
  background: rgba(20, 12, 5, 0.55);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(212, 96, 26, 0.18);
  border-radius: 100px;
  padding: 0 2rem;
  box-shadow: 0 4px 30px rgba(0,0,0,0.15), 0 0 0 1px rgba(255,255,255,0.04) inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-pill-h);
  transition: background 0.4s, border-color 0.4s;
}
.navbar.scrolled { background: rbga(20,12,5,0.85); border-color:rgba(212,96,26,0.28)}

.navbar-logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.35rem;
  letter-spacing:0.1rem;
  color:var(--saffron);
}

.navbar ul { list-style: none; display: flex; gap: 0.2rem; }

.navbar ul li a {
  color: rgba(255,255,255,0.82);
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 6px 16px;
  border-radius: 100px;
  transition: 0.2s;
  text-transform: uppercase
}


}